

<h2>Wellcome</h2>
<a href="{% url 'user_profile' %}">user profile </a>
<br>
<br>

<a href="{% url 'add-employee' %}">add employee </a>
<br>
<br>
<a href="{% url 'add_leave' %}">add leave </a>
<br>
<br>
<a href="{% url 'add-dept' %}">add department </a>
<br>
<br>
<a href="{% url 'add-sal' %}">add salary </a>
<br>
<br>
<a href="{% url 'add-pos' %}">add positions </a>
<br>
<br>
<a href="{% url 'employee_list' %}">employee_list</a>

<br>
<br>
<a href="{% url 'position_list' %}">position_list</a>

<br>
<br>
<a href="{% url 'leave_list' %}">leave_list</a>
<br>
<br>
<a href="{% url 'salary_list' %}">salary_list</a>

<br>
<br>
<a href="{% url 'department_list' %}">department_list</a>
<br>
<br>
